.card {
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.card__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card__text {
    padding: 0 13px 13px;
}

.card__text-description {
    font-weight: 400;
}

@media (min-width: 375px) {
    .card {
        width: 250px;
        height: auto;
    }


}